.section1{
    display: flex;
    flex-wrap: wrap;
}
.title_div{
    text-align: center;
    width: 50%;
    margin-top: 4%;
}
.title{
    color: #4CAF50;
    
    font-size: 38px;
    font-family: 'Poppins', sans-serif;
}
.monolog_div{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}
.what_are_we{
    color: rgb(14, 13, 13);
    font-size: 35px;
    font-family: 'Poppins', sans-serif;
}
.monolog{
    line-height: 1.5;
    font-size: 23px;
    font-family: 'Poppins', sans-serif;
    color: #6c6b6b;
}
@media (max-width:1200px){
    .section1{
        flex-direction: column;
    }
    .title_div,.monolog_div{
        width: 100%;
    }
    
}
@media (max-width:668px){
    .title{
        font-size: 30px;
    }
}
.login_signup{
    display: flex;
    flex-direction: column;
   
}
.login_input_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.email, .password {
    width: 40%; /* Set the width to 80% of the parent container */
    padding: 12px; /* Add padding for better spacing */
    margin: 8px 0; /* Add margin for spacing between inputs */
    border: 1px solid ; /* Add a border */
    border-radius: 4px; /* Slight rounding of corners */
    font-size: 16px; /* Set font size */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}
.login_button_div{
    justify-content: center;
    align-items: center;
}
.login_button{
    width: 40%; /* Set the width to 80% of the parent container */
    padding: 12px; /* Add padding for better spacing */
    margin: 8px 0; /* Add margin for spacing between inputs */
    border: 1px solid ; /* Add a border */
    border-radius: 4px; /* Slight rounding of corners */
    font-size: 16px; /* Set font size */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
    background-color: white;

}
.login_button:hover{
   background-color: #62bd65;
   color: white;
   transition: 1s;

}
.privacy_text_div {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px; 
    
}


.privacy_text {
   
    font-size: small;
    line-height: 1.5;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
a{
    color: #4CAF50;
}
.section2{
    display: flex;
    flex-direction: column;
}
.what_is_opportunest_div{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.what_is_opportunest{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.about_opportunest_div{
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;   
}
.about_opportunest{
    
    font-family: 'Poppins', sans-serif;
    color:#6c6b6b
}
.svg_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}
.svg {
    display: flex;  
    flex-direction: column;       /* Enables flexbox */
    justify-content: center; /* Centers horizontally */
    align-items: center;    /* Centers vertically */
    
    padding: 30px;
    margin: 0 auto;        /* Ensures the div is centered within its parent */
}
.svg_text{
    margin-top: 10px;
    padding-top: 10px;
    justify-content: baseline;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}


